<!-- Liste des articles -->
<div class="container animatedParent" data-sequence="500" ng-controller="ArticlesCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h1>Liste des articles</h1>
            <hr>
        </div>
        <div class="col-sm-12" ng-repeat="article in articles">
            <div class="animated bounceInDown ng-scope go" data-id="{{article.id}}">
                <h2>{{article.title}}</h2>
                <p>{{article.text}}</p>
                <a ng-href="article/{{article.id}}">Lire la suite</a>
                <hr>
            </div>
        </div>
    </div>
</div>